#macOS system files
.DS_Store
*.userprefs

#Don't include compiled binaries/libraries
bin/
obj/
lib/

#Don't include auto-downloaded packages
packages

#Don't include visual studio metadata
.vs/
*.csproj.user
*.suo
*.pdb

*.o
