#macOS system files
.DS_Store
*.userprefs

#Don't include compiled binaries/libraries
bin/
obj/
lib/

#Don't include auto-downloaded packages
packages

#Don't include visual studio metadata
.vs/
*.csproj.user
*.suo
*.pdb

*.o
.vscode/ipch/2c1132ea1229a9d6/SERVERCOMMANDTESTER.ipch
.vscode/ipch/9bcaeed9946e6f0a/SERVERCOMMANDTESTER.ipch
