<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GstSharp" version="1.14.0" targetFramework="net47" />
  <package id="HuskyRobotics.Scarlet" version="0.5.0" targetFramework="net47" />
  <package id="ImageProcessor" version="2.6.2.25" targetFramework="net47" />
  <package id="OpenTK" version="3.0.1" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>