<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <devices />
  <video_devices />
  <putty_path>C:\Program Files (x86)\PuTTY\putty.exe</putty_path>
  <current_map_file>New Map.map</current_map_file>
</settings>